.cabinets--heading h1 {
    text-transform: uppercase;
    color: $siteBlue;
    border-bottom: 2px solid $siteBlue;
}

.cabinets--mine {
    @include flexbox();
    @include flexbox-align-items(flex-start);
    @include flexbox-justify-content(flex-start);
}

.mine--list,
.mine--add {
    width: 50%;
}

.list--president h2,
.list--secretary h2 {
    margin: 0 0 1rem 0;
}

.list--president h3,
.list--secretary h3 {
    margin: 0;
}

.pick--list {
    list-style-type: none;
    margin: 1rem 0;
    padding: 0;
    @include flexbox();
    @include flexbox-align-items(flex-start);
    @include flexbox-justify-content(space-between);
    @include flexbox-flex-wrap(wrap);
}

.list--item {
    color: white;
    background-color: #2b2b2b;
    width: 49%;
    margin-bottom: 1rem;
    @include flexbox();
    @include flexbox-align-items(center);
    @include flexbox-justify-content(space-between);
    @include flexbox-flex-wrap(wrap);
    transition-duration: .5s;
}

.list--item a {
    width: 100%;
    color: $white;
}

.item--select {
    @include flexbox();
    @include flexbox-align-items(center);
    @include flexbox-justify-content(space-between);
    padding: .5rem 1rem;
    width: 100%;
    cursor: pointer;
}

.secretary-form {
    width: 100%;
}

.select--plus {
    font-size: (22rem/16);
    margin: 1rem 0;
    transition-duration: .5s;
    transform-origin: 50% 50%;
    @include transform-rotate(0);
}

.open .select--plus {
    @include transform-rotate(45);
}

.secretary-form .item--input {
    width: 90%;
    border: 0;
    margin: .5rem auto;
    padding: 1rem .5rem;
    display: none;
}

.secretary-form.open .item--input {
    display: block;
}

.list--item .item--input:nth-last-of-type(1) {
    margin-bottom: 1.5rem;
}

.secretary-form .item--submit {
    margin: 0;
    padding: .5rem;
    width: 100%;
    text-align: center;
    background-color: $siteBlue;
    text-transform: uppercase;
    cursor: pointer;
    display: none;
}

.secretary-form.open .item--submit {
    display: block;
}

.secretary--input {
    margin-top: 1rem;
    @include flexbox();
    @include flexbox-align-items(center);
    @include flexbox-justify-content(flex-start);
}

.secretary--input input {
    padding: 1rem .5rem;
    width: 100%;
    margin: 0;
}

.secretary--input .input--secretary {
    width: 75%;
    margin-left: auto;
    margin: 0 0 0 auto;
}

.input--secretary {
    margin-left: .5rem;
    width: 30%;
}

.input--first-name,
.input--last-name,
.input--email {
    width: 60%;
}

.text--heading {
    color: $white;
    margin: 0;
}

.secretary--submit {
    text-align: center;
    padding: 1rem;
    text-transform: uppercase;
    color: $white;
    background-color: $siteBlue;
    margin-top: 1rem;
    cursor: pointer;
}