<p id="notice"><%= notice %></p>

<p>
  <strong>Cabinet:</strong>
  <%= @presidency.cabinet_id %>
</p>

<%= link_to 'Edit', edit_presidency_path(@presidency) %> |
<%= link_to 'Back', presidencies_path %>
