<div class="body--cabinets">
    <% if current_user != nil %>
        <div class="cabinets--heading">
            <h1>Form your cabinet</h1>
        </div>
        <div class="cabinets--mine">
            <div class="mine--list">
                <% @roles.each do |role| %>
                    <div class="list--role">
                        <h3><%= role.role.upcase %>:</h3> 
                        <h2><%= role.user.first_name %> <%= role.user.last_name %></h3>
                    </div>
                <% end %>
            </div>
            <div class="mine--add">
                <div class="mine--secretary">
                    <% if @secretaries.count != 0 %>
                        <div class="secretary--prompt">
                            Add a secretary to your cabinet:
                        </div>
                    <% end %>
                    <div class="secretary--pick">
                        <ul class="pick--list">
                            <% @secretaries.each do |secretary| %>
                                <%= render partial: 'secretary', locals: {secretary: secretary, cabinet: @cabinet} %>
                            <% end %>
                        </ul>
                        <div class="pick--submit">
                            Confirm cabinet
                        </div>
                    </div>
                </div>
            </div>
        <% else %>
  
        <% end %>
</div>
<script>

    $('.item--select').click(function(){
        if ($(this).siblings('.secretary-form').hasClass('open')) {
            $(this).siblings('.secretary-form').removeClass('open');
            $(this).removeClass('open');
        } else {
            $(this).siblings('.secretary-form').addClass('open');
            $(this).addClass('open');
        }
    });
    
    $('.item--submit').click(function(){
        $(this).parent().parent().remove();
    });
    
</script>