var htmlString = "<div class=\"list--role\"><h3>" + <%= params[:secretary] %> + ":</h3><h2>" + <%= params[:first_name] %> + " " + <%= params[:last_name] %> + "</h3></div>";
$('.mine--list').append(htmlString);